/* beer-display.scss
 *
 * For the individual beer display pages
 */

// Colours
$colour-dark-grey: #313131;

@keyframes slideup {
    0% {bottom: -100%;opacity: 0;}
    100% {bottom: 0%;opacity: 1;}
}

.slide-up {
    -webkit-animation: slideup 3s;
    animation: slideup 3s;
}

@keyframes slideleft {
    0% {right: -100%;opacity: 0;}
    100% {right: 0%;opacity: 1;}
}
.slide-left {
    -webkit-animation: slideleft 5s;
    animation: slideleft 5s;
}

.beer-display-header {
    min-height: 350px;
    position: relative;
    width: 100%;

    .beer-back-btn {
        border: 2px solid white;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        left: 40px;
        padding: 5px 10px;
        position: absolute;
        top: 100px;

        .back-arrow {
            font-size: 24px;
            line-height: 18px;
        }

        @media only screen and (max-width: 1280px) {
            left: 20px;
            top: -40px;
        }
    }
}
.hero-background {
    background-position:  0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0px;
    max-height: 100%;
    min-height: 420px;
    position: absolute;
    top: -125px;
    width: 100%;
    z-index: 0;
}
.hero-balls-falls-background {
    background-image: url("/_assets/images/beers/bknd-head-balls-falls.jpg");
}
.hero-twenty-background {
    background-image: url("/_assets/images/bknd-mobile/bknd-ourbeer-slideover-twentymile.jpg");
}
.hero-stone-background {
    background-image: url("/_assets/images/bknd-stone-header.jpg");
}
.hero-cellar-background {
    background-image: url("/_assets/images/bknd-we.jpg");
}
.hero-citra-background {
    background-image: url("/_assets/images/Bench_CitraGrove_BG_Image.jpg");
}
.hero-clean-background {
    background-image: url("/_assets/images/Bench_CleanSlate_BG_Image.jpg");
}
.hero-mosaic-background {
    background-image: url("/_assets/images/bknd-mosaic.jpg");
}
.hero-simcoe-background {
    background-image: url("/_assets/images/bknd-simcoe.jpg");
}

#beerHeroCopy {
    position: relative;

    .beer-heroCopy {
        h1, p {
            color: white;
        }

        @media only screen and (min-width: 1365px) {
            h1 {
                font-size: 51px;
            }
        }

        &.mosaic-grove,
        .simcoe-grove {
            h1 {
                font-size: 48px;
            }
        }
    }
}
#our-beer-display .container-fluid {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.beerDisplayBackground {
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    background-size: cover;
    background-position: bottom left;
    position: absolute;
    width: 100%;
    z-index: 0;
    &.beer-bknd-balls-falls {
        background-size: cover;
    }
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}

.twenty-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}

.cellar-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}
.citra-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}
.mosaic-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}
.simcoe-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}
.stone-back{
    background-image: url("/_assets/images/beers/bknd/1_bkgd.jpg");
    @media screen and (max-width: 991px) {
        background-image: url("/_assets/images/bknd-paper-clean.png");
        &.beer-bknd-balls-falls {
            background-size: contain;
        }
    }
}

#beerDisplay {
    min-height: 887px;
    overflow: hidden;
    padding-top: 75px;
    position: relative;
    width: 100%;

    img {
        width: initial;
    }
}

#our-beer-container.beer-display {
    overflow: hidden;
    position: relative;

    .beer-display-escarpment {
        background: url("/_assets/images/beers/bknd/3_ballsfalls_esc.png") bottom left no-repeat;
        background-size: contain;
        height: 925px;
        left: 0px;
        width: 100%;
        position: absolute;
        top: 75px;
        z-index: 0;

        &.twenty-mile {
            background-image: url("/_assets/images/beers/bknd/3_Twentymile_esc.png");
        }

        &.cellar-garde {
            background-image: url("/_assets/images/beers/bknd/3_Cellar_esc.png");
        }

        &.citra-grove {
            background-image: url("/_assets/images/beers/bknd/3_Citra_esc.png");
        }
        &.clean-slate {
            background-image: url("/_assets/images/beers/bknd/3_Cleanslate_esc.png");
        }
        &.stone-road {
            background-image: url("/_assets/images/beers/bknd/3_Stoneroad_esc.png");
            top: -38px;
        }
    }

    .beer-display-flowers {
        background: url("/_assets/images/beers/bknd/2_Citra_grove_flowers.png") bottom left no-repeat;
        background-size: contain;
        height: 925px;
        left: 0px;
        width: 100%;
        position: absolute;
        top: 75px;
        z-index: 0;

        &.mosaic-grove {
            background-image: url("/_assets/images/beers/bknd/2_Mosaic_grove_flowers.png");
        }
        &.simcoe-grove {
            background-image: url("/_assets/images/beers/bknd/2_Simcoe_grove_flowers.png");
        }
    }

    .beer-display-stats {
        color: $colour-dark-grey;
        margin-bottom: 45px;
        margin-top: 105px;

        strong {
            display: block;
            max-width: 200px;
        }
        .beer-stats-row {
            width: 100%;

            .copy {
                    p{
                        font-size:24px;
                        @media screen and (max-width: 768px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 560px) {
                            font-size: 16px;
                        }
                       
                    }
                     @media screen and (max-width: 1024px) {
                         padding-left: 25%;
                    }
                
            }
        }

        @media screen and (max-width: 991px) {
            margin: 105px auto 175px auto;
            max-width: 90%;
        }
    }
}
#find-a-pint {
    &.balls-falls {
        margin-top: 0px;
    }
}

#our-beer-display {
    #find-a-pint {
        z-index: 101;

        .find-a-pint-copy {
            margin: 0px auto 50px auto;
        }
    }
}
.beerDisplayCan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.beerPreviousArrow {
    align-self: center;
    background: url("/_assets/images/beers/arrow-left.png") 0px 0px no-repeat;
    display: block;
    height: 32px;
    margin-right: 25px;
    width: 32px;

    @media only screen and (max-width: 768px) {
        margin-right: 15px;
    }
}
.beer-display-can-img {
    height: auto;
    max-width: 70%;

    @media only screen and (max-width: 768px) {
        max-width: 60%;
    }

    img {
        height: auto;
        max-width: 100%;
        width: auto;
    }
}
.beerNextArrow {
    align-self: center;
    background: url("/_assets/images/beers/arrow-right.png") 0px 0px no-repeat;
    display: block;
    height: 32px;
    margin-left: 25px;
    width: 32px;

    @media only screen and (max-width: 768px) {
        margin-left: 15px;
    }
}
