/* beer-listing.scss
 * 
 * Styles for the Our Beers Page
 * Circular CSS Trick from https://css-tricks.com/set-text-on-a-circle/
 */

// Colours
$colour-dark-grey: #313131;

// Common element sizes
$beer-badge-width: 262px;
$beer-badge-inner-width: 190px;
$width-large-column: 970px;

#our-beer-page {
  .beerBackground {
    background: url("/_assets/images/bknd-ourbeer-paper.png") bottom left no-repeat;
    background-size: cover;
    height: 1430px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

#our-beer-container {
  position: relative;
  z-index: 101;
}

#beerHeroCopy {
  margin: 125px auto 0px auto;
  max-width: 970px;

  h1, p {
    color: $colour-dark-grey;
  }
}

#beerListing {
  margin: 60px auto 0px auto;

  .beer-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: (($beer-badge-width * 3) + (22px * 6));
    justify-content: left;
    padding-left: 0px;
  }

  .beer-listing-item {
    background: $colour-dark-grey;
    border-radius: ($beer-badge-width / 2);
    height: $beer-badge-width;
    list-style: none;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
    padding: 0;
    position: relative;
    width: $beer-badge-width;

    a {
      background: white;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: ($beer-badge-inner-width / 2);
      display: block;
      height: $beer-badge-inner-width;
      left: 35px;
      position: absolute;
      top: 35px;
      width: $beer-badge-inner-width;
    }

    &.beer-balls-falls a {
      background-image: url("/_assets/images/icon-BallsFalls.png");
    }
    &.beer-twenty-mile a {
      background-image: url("/_assets/images/icon-TwentyMile.png");
    }
    &.beer-clean-slate a {
      background-image: url("/_assets/images/icon-CleanSlate.png");
    }
    &.beer-citra-grove a {
      background-image: url("/_assets/images/icon-CitraGrove.png");
    }
    &.beer-mosaic-grove a {
      background-image: url("/_assets/images/icon-MosaicGrove.png");
    }
    &.beer-simcoe-grove a {
      background-image: url("/_assets/images/icon-SimcoeGrove.png");
    }
    &.beer-stone-road a {
      background-image: url("/_assets/images/icon-StoneRoad.png");
    }
    &.beer-cellar-garde a {
      background-image: url("/_assets/images/icon-CellarGarde.png");
    }
  }

  .beer-availability-text {
    background: url("/_assets/images/ourbeer-coming-aug.png") bottom left no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
  }

  .beer-draught-text {
    background: url("/_assets/images/ourbeer-draught-only.png") bottom left no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
  }
}

#find-a-pint {
  background-color: $colour-dark-grey;
  margin: auto;
  margin-top: 80px;
  padding: 50px 0px;
  position: relative;
  width: 80%;
  z-index: 1;

  .find-a-pint-copy {
    max-width: 675px;
    margin: 0px auto;
    width: 100%;
  }
}
#google-maps-pints {
  background-color: white;
  margin: 0px auto;
  max-width: 1048px;
  height: 410px;
  width: 100%;
}
