/* beer-listing.scss
 * 
 * Styles for the Our Beers Page
 * Circular CSS Trick from https://css-tricks.com/set-text-on-a-circle/
 */

// Colours
$colour-dark-grey: #313131;

// Common element sizes
$beer-badge-width: 262px;
$beer-badge-inner-width: 190px;

#beerListing {

  .beer-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .beer-listing-item {
    background: $colour-dark-grey;
    border-radius: ($beer-badge-width / 2);
    height: $beer-badge-width;
    list-style: none;
    padding: 0;
    position: relative;
    width: $beer-badge-width;

    a {
      background: white;
      border-radius: ($beer-badge-inner-width / 2);
      display: block;
      height: $beer-badge-inner-width;
      left: 35px;
      position: absolute;
      top: 35px;
      width: $beer-badge-inner-width;
    }
  }

  .beer-availability-text {
    height: 60%;
    left: 26%;
    position: absolute;
    top: 34%;
    transform: rotate(242deg) scaleY(-1);
  }

  .beer-availability-text span {
    color: red;
    height: ($beer-badge-width / 2);
    padding-top: 113px;
    position: absolute;
    transform-origin: top;
    width: 2em;
  }

  .char1 {
    transform: rotate(6deg);
  }

  .char2 {
    transform: rotate(12deg);
  }

  .char3 {
    transform: rotate(18deg);
  }

  .char4 {
    transform: rotate(24deg);
  }

  .char5 {
    transform: rotate(30deg);
  }

  .char6 {
    transform: rotate(36deg);
  }

  .char7 {
    transform: rotate(42deg);
  }

  .char8 {
    transform: rotate(48deg);
  }

  .char9 {
    transform: rotate(54deg);
  }

  .char10 {
    transform: rotate(60deg);
  }

  .char11 {
    transform: rotate(66deg);
  }

  .char12 {
    transform: rotate(72deg);
  }

  .char13 {
    transform: rotate(78deg);
  }

  .char14 {
    transform: rotate(84deg);
  }

  .char15 {
    transform: rotate(90deg);
  }

  .char16 {
    transform: rotate(96deg);
  }

  .char17 {
    transform: rotate(102deg);
  }

  .char18 {
    transform: rotate(108deg);
  }

  .char19 {
    transform: rotate(114deg);
  }

  .char20 {
    transform: rotate(120deg);
  }

  .char21 {
    transform: rotate(126deg);
  }

  .char22 {
    transform: rotate(132deg);
  }

  .char23 {
    transform: rotate(138deg);
  }

  .char24 {
    transform: rotate(144deg);
  }
    
}