/* beer-display.scss
 *
 * For the individual beer display pages
 */

// Colours
$colour-dark-grey: #313131;

@keyframes slideup {
    0% {bottom: -100%;opacity: 0;}
    100% {bottom: 0%;opacity: 1;}
}

.slide-up {
    -webkit-animation: slideup 3s;
    animation: slideup 3s;
}

@keyframes slideleft {
    0% {right: -100%;opacity: 0;}
    100% {right: 0%;opacity: 1;}
}
.slide-left {
    -webkit-animation: slideleft 5s;
    animation: slideleft 5s;
}

.beer-display-header {
    min-height: 350px;
    position: relative;
    width: 100%;

    .beer-back-btn {
        border: 2px solid white;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        left: 40px;
        padding: 5px 10px;
        position: absolute;
        top: 100px;

        .back-arrow {
            font-size: 24px;
            line-height: 18px;
        }
    }
}
.hero-background {
    background-position:  0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0px;
    max-height: 100%;
    min-height: 420px;
    position: absolute;
    top: -125px;
    width: 100%;
    z-index: 0;
}
.hero-balls-falls-background {
    background-image: url("/_assets/images/beers/bknd-head-balls-falls.jpg");
}
#beerHeroCopy {
    position: relative;

    .beer-heroCopy {
        h1, p {
            color: white;
        }
    }
}

#our-beer-display .container-fluid {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.beerDisplayBackground {
    background-image: url("/_assets/images/bknd-paper-clean.png");
    background-size: cover;
    background-position: bottom left;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#beerDisplay {
    height: 1000px;
    overflow: hidden;
    padding-top: 75px;
    position: relative;
    width: 100%;

    img {
        bottom: 0px;
        position: absolute;
    }
}

#our-beer-container.beer-display {
    overflow: hidden;
    position: relative;

    .beer-display-stats {
        color: $colour-dark-grey;
        min-height: 500px;
        margin-top: 105px;
        position: absolute;
        right: 0px;
        width: 50%;

        strong {
            display: block;
            max-width: 200px;
        }
        .beer-stats-row {
            position: absolute;
            right: 0px;
            width: 100%;
        }
    }
}
#find-a-pint {
    &.balls-falls {
        margin-top: 0px;
    }
}
.beerPreviousArrow {
    background: url("/_assets/images/beers/arrow-left.png") 0px 0px no-repeat;
    height: 32px;
    left: 220px;
    position: absolute;
    top: 450px;
    width: 32px;
}
.beerNextArrow {
    background: url("/_assets/images/beers/arrow-right.png") 0px 0px no-repeat;
    height: 32px;
    left: 650px;
    position: absolute;
    top: 450px;
    width: 32px;
}
