/* our-story.scss
 *
 * Styles for the Our Story page
 */

$colour-dark-grey: #313131;

.ourstory-background {
    background: url("/_assets/images/bknd-ourstory-tractor.jpg") bottom center no-repeat;
    background-size: cover;
    height: 934px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#ourStoryCopy {
    padding-top: 40%;
    position: relative;

    
    p.explore-bench {
        font-size: 22px;
        text-align: center;
    }
    .our-story-copy {
        background: $colour-dark-grey;
        bottom: 0px;
        max-width: 78%;
        padding: 3% 6%;
        text-align: center;

        h1 {
            font-size: 36px;
        }
        p {
            font-size: 20px;
        }
    }
    .our-story-explore-bench-link {
        background: url("/_assets/images/chevron-down-45px.png") 0px 0px no-repeat;
        background-size: cover;
        display: block;
        height: 46px;
        margin: 0px auto;
        width: 45px
    }
}

#our-story-vision {
    background: url("/_assets/images/bknd-ourvision-paper.png") 50% 50% no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin: -7% 0 -7% 0;
    padding: 10% 0px;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 100;

    @media screen and (max-width: 768px) {
        background-size: cover;
        margin: -10% 0;
        padding: 20% 0;
    }
    .our-story-vision-copy {
        background: $colour-dark-grey;
        margin-left: -1%;
        padding: 15px 20px;
        pointer-events: all;

        h1 {
            @media screen and (max-width: 768px) {
                font-size: 25px
            }
        }
        hr {
            border-top: 4px solid #eee;
            left: 0px;
            margin-right: 20%;
            position: relative;
            text-align: left;
            width: 80%;
        }
        .crafting-great-beer {
            font-size: 36px;
            margin: 0px auto;
            width: 80%;
            @media screen and (max-width: 768px) {
                font-size: 16px
            }
        }
        .body {
            font-size: 18px;
            margin: 15px auto;
            width: 80%;
            @media screen and (max-width: 768px) {
                font-size: 12px
            }
        }
    }
    .watch-chapter-1-btn {
        background: $colour-dark-grey;
        border: 2px solid white;
        color: white;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 10%;
        padding: 5px 10px;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
}

.videosBackground {
    height: 1700px;
    left: 0px;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .timelapse{
        pointer-events: none;
        position: absolute;
        min-width: 2000px;
        top: 0;
        left: 0;
        margin: auto;

        @media only screen and (min-width: 1024px){
            min-width: 3000px;
        }
        @media only screen and (min-width: 1366px){
            min-width: 3200px;
        }
        @media only screen and (min-width: 1800px){
            min-width: 3500px;
        }
        @media only screen and (max-width: 768px){
            display: none;
        }
    }
}
#our-story-videos {
    //height: 769px;
    //margin-bottom: -14px;
    //margin-top: -60px;
    //padding-top: 105px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 768px) {
        background: url("/_assets/images/bknd-ourschool.jpg") 50% 50% no-repeat;
        background-size: cover;
    }

    .video-loop-overlay {
        background: rgba(0,0,0,.3);
        content: ' ';
        height: 769px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .our-story-videos-content {
        //height: 769px;
        left: 0px;
        position: relative;
        top: 0px;
        width: 100%;
        padding-top: 100px;
        h1 {
            text-shadow: 2px 2px 2px rgba(0,0,0,.3);
            padding-bottom: 50px;
        }
    }
    .video-container {
        background: $colour-dark-grey;
        margin: auto;
        margin-bottom: 25px;
        max-width: 400px;
        @media screen and (max-width: 600px) {
            max-width: 300px;
        }
        //width: 366px;

        .video-container-video {
            border: 15px solid white;
            border-bottom: 0px;
            //height: 206px;
            //width: 366px;
        }
        .video-description {
            background: white;
            color: $colour-dark-grey;
            padding: 12px 0px;

            h1 {
                font-size: 23px;
                line-height: 23px;
                margin: 0px auto -8px auto;
                text-transform: uppercase;
                text-shadow: none;
            }
            p {
                font-size: 16px;
                margin: 0px auto;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
#carouselOurStoryVideos {
    overflow: hidden;
    width: 100%;

    @media screen and (max-width: 768px) {
        left: -50%;
        //transform: scale(0.5);
        position: relative;
        width: 200%;

        iframe {
            transform: scale(1);
        }
        .carousel-clone {
            top: 0px !important;
        }
    }
    .carousel-inner,
    .carousel-clone {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        position: relative;
        top: 0px;
        width: auto;
        transition: all 1s;
    }
    .carousel-clone {
        display: flex;
        position: absolute;
        top: 45px;

        .carousel-item {
            align-self: center;
        }
    }

    .carousel-item {
        position: relative;

        /* Dark cover layer for non-selected vidoes. Does not take click events, so video behind is clickable. */
        &:before {
            content: ' ';
            height: 278px;
            left: 0px;
            pointer-events: none;
            position: absolute;
            top: 0px;
            width: 100%;
            z-index: 1;
        }
    }

    .carousel-item.active {
        transform: scale(1);

        &:before {
            display: none;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        left: 0px;
        position: absolute;
        top: 30%;
        z-index: 1;

        @media screen and (max-width: 768px) {
            //transform: scale(0.5);
            left: -50px;
        }
    }
    .carousel-control-next {
        left: initial;
        right: 0px;

        @media screen and (max-width: 768px) {
            right: -50px;
        }
    }
}

#our-story-page #Footer {
    margin: 0px;
    position: relative;
}
