/* our-story.scss
 *
 * Styles for the Our Story page
 */

$colour-dark-grey: #313131;

.ourstory-background {
    background: url("/_assets/images/bknd-ourstory-tractor.jpg") bottom center no-repeat;
    background-size: cover;
    height: 934px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#our-story-header {
    height: 934px;
    padding-top: 125px;
    position: relative;

    .our-story-copy {
        background: $colour-dark-grey;
        bottom: 0px;
        left: 12%;
        max-width: 78%;
        padding: 3% 6%;
        position: absolute;
        text-align: center;

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 20px;
        }
    }
    .our-story-explore-bench-link {
        background: url("/_assets/images/chevron-down-45px.png") 0px 0px no-repeat;
        background-size: cover;
        display: block;
        height: 46px;
        margin: 0px auto;
        width: 45px
    }
}

#our-story-vision {
    background: url("/_assets/images/bknd-ourvision-paper.png") 50% 50% no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin-top: -60px;
    padding: 100px 0px;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 100;

    @media screen and (max-width: 768px) {
        background-size: cover;
    }
    .our-story-vision-copy {
        background: $colour-dark-grey;
        margin-left: -1%;
        padding: 15px 20px;
        pointer-events: all;

        hr {
            border-top: 4px solid #eee;
            left: 0px;
            margin-right: 20%;
            position: relative;
            text-align: left;
            width: 80%;
        }
        .crafting-great-beer {
            font-size: 36px;
            margin: 0px auto;
            width: 80%;
        }
        .body {
            font-size: 18px;
            margin: 15px auto;
            width: 80%;
        }
    }
    .watch-chapter-1-btn {
        background: $colour-dark-grey;
        border: 2px solid white;
        color: white;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 10%;
        padding: 5px 10px;
    }
}

#our-story-videos {
    background: url("/_assets/images/bknd-ourstory-videos.jpg") 0px 0px no-repeat; /* To be replaced by Vimeo loop */
    background-size: 100% 100%;
    height: 769px;
    margin-bottom: -14px;
    margin-top: -60px;
    padding-top: 105px;
    position: relative;
    width: 100%;

    .video-loop {
        height: 769px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 0;
    }
    .video-loop-overlay {
        background: rgba(0,0,0,.3);
        content: ' ';
        height: 769px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .our-story-videos-content {
        height: 769px;
        left: 0px;
        position: relative;
        top: 0px;
        width: 100%;

        h1 {
            text-shadow: 2px 2px 2px rgba(0,0,0,.3);
        }
    }
    .video-container {
        background: $colour-dark-grey;
        height: 206px;
        padding-bottom: 66px;
        width: 366px;

        .video-container-video {
            border: 15px solid white;
            border-bottom: 0px;
            height: 206px;
            width: 366px;
        }
        .video-description {
            background: white;
            color: $colour-dark-grey;
            padding: 12px 0px;

            h1 {
                font-size: 23px;
                line-height: 23px;
                margin: 0px auto -8px auto;
                text-transform: uppercase;
                text-shadow: none;
            }
            p {
                font-size: 16px;
                margin: 0px auto;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
